//===// Abstracts //===//

@use '../abstracts' as *;

//===// Buttons //===//

.btn {
  display: inline-block;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border: 1px solid currentColor;
  border-radius: 1.5em;
  outline: none;
  color: color(type);
  font-size: size(fs-50);
  padding: 0.5em 0.85em;

  &--squared {
    background-color: color(accent-900);
    border: none;
    border-radius: 1em;
    color: color(accent-100);
    padding: 0.8em 1.2em;
  }

  &--cta {
    background-color: color(accent-700);
    border: 1px solid color(accent-900);
    box-shadow: 7px 7px 0 color(accent-900);
    border-radius: 1em;
    color: color(accent-900);
    text-decoration: none;
    font-weight: 600;
    padding: 0.8em 1.4em;
    transition: box-shadow 250ms ease-in-out;

    &:is(:hover, :focus) {
      box-shadow: 5px 5px 0 color(accent-900);
    }
  }

  &--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
  }
}
