//=========================================================//
//===// Incorporating required buttons scss variables //===//
//=========================================================//

@use '../abstracts' as *;

//===================//
//===// Buttons //===//
//===================//

.btn {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  background-color: color(dark-clr);
  border: none;
  outline: none;
  box-shadow: 5px 5px 0 color(accent-clr);
  color: color(light-clr);
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5em 1em;
  transition: box-shadow 250ms ease-in-out;

  &--icon {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: fit-content;
  }

  &:hover,
  &:focus {
    box-shadow: 7.5px 7.5px 0 color(accent-clr);
  }
}
