//===// Abstracts //===//

@use '../abstracts' as *;

//===// Color mode //===//

.color-mode {
  position: relative;

  &__btn {
    position: relative;
    z-index: 1;
  }

  &__options {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    position: absolute;
    top: 4rem;
    right: 0;
    opacity: 0;
    visibility: hidden;
    background-color: color(accent-900);
    border-radius: 1em;
    color: color(accent-100);
    padding: 0.6em 0.8em;
    translate: 0 -0.5rem;
    transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out, translate 250ms ease-in-out;

    &.visible {
      opacity: 1;
      visibility: visible;
      translate: 0;
    }

    &__btn {
      cursor: pointer;
      background-color: transparent;
      border: none;
      color: color(accent-100);
      font-size: size(fs-50);
      padding: 0.2em 0.4em;
      transition: color 250ms ease-in-out, scale 250ms ease-in-out;

      &:is(:hover, :focus) {
        scale: 1.1;
      }

      &.active {
        color: color(accent-700);
      }

      &.system {
        color: color(accent-300);
      }
    }
  }
}

@include mobile {
  .color-mode {
    &__options {
      flex-direction: row-reverse;
      top: 0;
      right: 4.35rem;
      height: 100%;
      translate: 0.5rem 0;
    }
  }
}
