//===// Abstracts //===//

@use '../abstracts' as *;

//===// Hamburger //===//

@mixin hamburger-line {
  position: absolute;
  left: 0;
  height: 5px;
  width: 100%;
  background-color: color(accent-900);
  border-radius: 1rem;
}

.hamburger {
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: 0;

  &__box {
    display: inline-block;
    position: relative;
    width: 2.125rem;
    height: 1.5rem;
  }

  &__inner {
    top: 50%;

    @include hamburger-line;

    &::before,
    &::after {
      content: '';

      @include hamburger-line;
    }

    &::before {
      top: -0.75rem;
    }

    &::after {
      top: 0.75rem;
    }
  }

  &--active &__inner {
    background-color: transparent;
  }

  &--active &__inner:before {
    translate: 0 0.75rem;
    rotate: 45deg;
  }

  &--active &__inner:after {
    translate: 0 -0.75rem;
    rotate: -45deg;
  }
}
