//===========================================================//
//===// Incorporating required hamburger scss variables //===//
//===========================================================//

@use '../abstracts' as *;

//=====================//
//===// Hamburger //===//
//=====================//

.hamburger {
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 10px;
  margin: 0;
  transition: transform 0.3s ease-in-out;

  &__box {
    display: inline-block;
    position: relative;
    width: 35px;
    height: 24px;
  }

  &__inner {
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.1s ease-in-out;

    @include hamburger-line;

    &::before,
    &::after {
      content: '';
      transition: transform 0.2s ease-in-out;

      @include hamburger-line;
    }

    &::before {
      top: -10px;
    }

    &::after {
      top: 10px;
    }
  }

  &--active &__inner {
    background-color: transparent;
  }

  &--active &__inner:before {
    transform: translateY(10px) rotate(45deg);
  }

  &--active &__inner:after {
    transform: translateY(-10px) rotate(-45deg);
  }
}
