//===// Colors //===//

$color: (
  bg: var(--bg),
  type: var(--type),
  accent-100: var(--accent-100),
  accent-300: var(--accent-300),
  accent-500: var(--accent-500),
  accent-700: var(--accent-700),
  accent-900: var(--accent-900),
  // For prop
  accent-300-l: var(--accent-300-l),
  accent-300-d: var(--accent-300-d),
  accent-700-l: var(--accent-700-l),
  accent-700-d: var(--accent-700-d),
  // For contact form
  success: var(--success),
  danger: var(--danger),
);
