//========================================================//
//===// Incorporating required mixins scss variables //===//
//========================================================//

@use './functions' as *;

//==================//
//===// Mixins //===//
//==================//

//===// Mobile layout //===//

@mixin mobile {
  @media screen and (min-width: brake(mobile)) {
    @content;
  }
}

//===// Desktop layout //===//

@mixin desktop {
  @media screen and (min-width: brake(desktop)) {
    @content;
  }
}

//===// Hamburger menu lines //===//

@mixin hamburger-line {
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: color(dark-clr);
}
