//===// Functions //===//

@use './functions' as *;

//===// Mixins //===//

//=// Mobile layout

@mixin mobile {
  @media screen and (width >= brake(mobile)) {
    @content;
  }
}

//=// Desktop layout

@mixin desktop {
  @media screen and (width >= brake(desktop)) {
    @content;
  }
}

//=// Hover & Focus outline offset

@mixin hf-offset {
  outline: 2px solid transparent;
  outline-offset: -2px;

  &:is(:hover, :focus) {
    outline: 2px solid color(accent-900);
    outline-offset: 2px;
  }
}

//=// Hover & Focus outline

@mixin hf-outline {
  outline: 2px solid transparent;
  outline-offset: 6px;

  &:is(:hover, :focus) {
    outline: 2px solid color(accent-900);
  }
}
