//===// Abstracts //===//

@use '../abstracts' as *;

//==========================//
//===// Default layout //===//
//==========================//

//===// Root //===//

:root {
  --border-size: 0.625rem;
}

//===// Scrollbar //===//

// ::-webkit-scrollbar {
//   width: 0.8rem;
//   border-left: var(--line) solid color(dark-clr);
//   outline: var(--line) solid color(accent);
// }

// ::-webkit-scrollbar-track {
//   background: transparent;
// }

// ::-webkit-scrollbar-thumb {
//   background: color(dark-clr);
// }

//===// Text selection //===//

// ::selection {
//   background-color: color(accent);
//   color: color(light-clr);
// }

//===// Body //===//

body {
  background-color: color(bg);
  color: color(type);
  font-family: font(main);
}

//===// Header //===//

.header {
  --spacer: 1rem;
  --nav-size: 85vw;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: var(--spacer);
}

//===// Menu //===//

.nav {
  position: fixed;
  inset: 0;
  left: calc(100vw - var(--nav-size));
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  background-color: color(accent-500);
  border-inline-start: var(--border-size) solid color(accent-300);
  translate: var(--nav-size);
  transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out, translate 250ms ease-in-out;

  &--visible {
    opacity: 1;
    visibility: visible;
    translate: 0;
  }

  &-outside {
    position: fixed;
    inset: 0;
    right: calc(100vw - var(--nav-size));
    z-index: 1;
  }

  &-open,
  &-close {
    @include hf-outline;
  }

  &-close {
    position: absolute;
    top: calc(var(--spacer) + 0.5625rem);
    left: 1rem;
  }

  &-color-mode,
  &-scroll-top {
    @include hf-offset;
  }

  &__list {
    display: grid;
    place-items: center;
    gap: 1rem;
    height: 100%;
    list-style: none;
    padding-block: 8rem;

    &-link {
      position: relative;
      cursor: pointer;
      color: color(type);
      font-size: size(fs-800);
      font-weight: 600;

      &::before {
        content: '';
        position: absolute;
        bottom: -0.3em;
        left: 0;
        height: 0.25em;
        width: 100%;
        background-color: color(accent-300);
        border-radius: 1em;
        transform-origin: left;
        scale: 0 1;
        transition: scale 250ms ease-in-out;
      }

      &:is(:hover, :focus)::before {
        scale: 1;
      }
    }
  }
}

//===// Main > Hero //===//

.hero {
  display: grid;
  grid-template-areas:
    'intro'
    'bio'
    'bio-text-1'
    'prop'
    'bio-text-2'
    'cv';

  gap: 1rem;
  padding-block-end: 7.5rem;

  &__intro {
    grid-area: intro;

    font-size: size(fs-900);
    font-weight: 700;
  }

  &__bio {
    grid-area: bio;
    font-weight: 600;

    &-text {
      max-width: 75ch;

      &:nth-child(1) {
        grid-area: bio-text-1;
      }

      &:nth-child(2) {
        grid-area: bio-text-2;
      }
    }
  }

  &__cv {
    grid-area: cv;

    display: grid;
    grid-template: repeat(2, auto) / repeat(2, 1fr);
    gap: 0.5rem 1rem;
    max-width: fit-content;

    &__text {
      grid-column: 1 / -1;
      font-size: size(fs-300);
      font-weight: 600;
    }

    &__btn {
      text-align: center;
    }
  }

  &__prop {
    grid-area: prop;
  }
}

//===// About //===//

.about {
  display: grid;
  grid-template: repeat(3, auto) / 1fr;
  grid-template-areas: 'card-1' 'card-2' 'card-3';

  gap: 2rem;
  padding-block-end: 7rem;

  &__card {
    &:nth-child(1) {
      grid-area: card-1;
      background-color: color(accent-300);
      box-shadow: var(--border-size) var(--border-size) 0 color(accent-900);
      border: 1px solid color(accent-900);
    }

    &:nth-child(2) {
      grid-area: card-2;
      background-color: color(accent-500);
    }

    &:nth-child(3) {
      grid-area: card-3;
      background-color: color(accent-700);
    }

    &__icon {
      display: inline-block;
      aspect-ratio: 1 / 1;
      background-color: color(accent-100);
      border: 1px solid color(accent-900);
      border-radius: 50%;
      padding: 0.8em;

      & i {
        display: block;
        font-size: size(fs-800);
        translate: 0 5px;
      }
    }

    &__title {
      font-size: size(fs-800);
      font-weight: 600;
      margin-block: 0.5em 0.6rem;
    }

    &__list a {
      color: color(type);
      text-decoration: underline;
    }

    &__text + &__text {
      margin-block-start: 0.5rem;
    }

    &__stack {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(48px, 1fr));
      gap: 0.5rem;
      margin-block-start: 1rem;
    }
  }
}

//===// Projects //===//

.projects {
  padding-block-end: 3rem;

  &__intro {
    display: inline-block;
    position: relative;

    &__title {
      font-size: size(fs-800);
      font-weight: 700;
      margin-block-end: 1rem;
    }

    &__text {
      max-width: 40ch;
    }

    &__prop {
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      height: 10rem;
      fill: color(accent-300);
      translate: -15% 15%;
      rotate: -25deg;
    }
  }

  &__btn {
    margin-block-start: 4rem;
    margin-inline: auto;
  }
}

//===// Project //===//

.project {
  display: grid;
  grid-template-areas:
    'badge'
    'name'
    'preview'
    'desc'
    'stack'
    'links';

  margin-block-start: 4rem;

  &:nth-child(3n + 1) {
    --accent: #{color(accent-300)};
  }

  &:nth-child(3n + 2) {
    --accent: #{color(accent-500)};
  }

  &:nth-child(3n + 3) {
    --accent: #{color(accent-700)};
  }

  &__badge {
    grid-area: badge;

    justify-self: start;
    align-self: center;
    background-color: var(--accent);
    border-radius: 1em;
    font-size: size(fs-50);
    font-weight: 600;
    padding: 0.2em 1.5em;
  }

  &__name {
    grid-area: name;

    font-size: size(fs-500);
    font-weight: 600;
    margin-block: 0.5rem 0.75rem;
  }

  &__desc {
    grid-area: desc;

    font-size: size(fs-50);
    margin-block: 1.75rem 0.75rem;
  }

  &__stack {
    grid-area: stack;

    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  &__links {
    grid-area: links;

    display: flex;
    gap: 0.5rem;
    margin-block-start: 1.5rem;

    &__btn {
      justify-self: start;
      align-self: center;
      padding: 0.2em 1.5em;
      transition: background-color 250ms ease-in-out;

      &:is(:hover, :focus) {
        background-color: var(--accent);
      }
    }
  }

  &__preview {
    grid-area: preview;

    &__img {
      border: 1px solid color(type);
      border-radius: 0.5em;
      object-fit: cover;
      height: 100%;
    }

    &__drop {
      display: block;
      position: relative;
      z-index: -1;
      height: 100%;
      width: 100%;
      pointer-events: none;
      background-color: var(--accent);
      border: 1px solid color(type);
      border-radius: 0.5em;
      translate: calc(var(--border-size) * var(--flip, 1)) calc(-100% + var(--border-size));
    }
  }
}

//===// Contact //===//

#contact {
  background-color: color(accent-300);
}

.contact {
  padding-block: 3rem;

  &__title {
    font-size: size(fs-800);
    font-weight: 700;
  }

  &__text {
    &:nth-of-type(1) {
      margin-block: 1rem;
    }

    &:nth-of-type(2) {
      margin-block: 1rem 0.125rem;
    }

    &:nth-of-type(3) {
      margin-block: 2rem 0.5rem;
    }
  }

  &__links {
    display: flex;
    gap: 0.5rem;

    &__btn {
      background-color: color(type);
      color: color(accent-300);

      &:last-child {
        background-color: color(accent-100);
      }
    }
  }

  &__email {
    cursor: pointer;
    text-decoration: underline;
    font-weight: 600;
  }

  &__form {
    background-color: color(accent-500);
    border: 1px solid color(type);
    border-radius: 0.5em;
    padding: 1.5rem 2rem 3rem;

    &__input,
    &__message {
      width: 100%;
      background-color: transparent;
      border: none;
      border-block-end: 1px solid color(type);
      outline: none;
      color: color(type);
      font-size: size(fs-50);
      padding: 0.5em;

      &.error {
        border-block-end-color: color(danger);
      }

      &::placeholder {
        color: color(accent-900);
      }
    }

    &__input {
      margin-block-end: 1rem;
    }

    &__message {
      height: 8rem;
      resize: none;
    }

    &__btn {
      width: 100%;
      background-color: color(accent-700);
      margin-block-start: 2.1rem;
      transition: background-color 250ms ease-in-out, color 250ms ease-in-out;

      &.sending {
        background-color: color(accent-300);
      }

      &.success {
        background-color: color(success);
      }

      &.error {
        background-color: color(danger);
        color: color(accent-100);
      }
    }
  }
}

//===// Footer //===//

#footer {
  background-color: color(accent-900);
}

.footer {
  color: color(accent-100);
  text-align: center;
  font-size: size(fs-50);
  padding: 1rem 0.5rem;
}
