//===// Abstracts //===//

@use '../abstracts' as *;

//==========================//
//===// Desktop layout //===//
//==========================//

@include desktop {
  //===// Hero //===//

  #hero {
    overflow: hidden;
  }

  .hero {
    display: grid;
    grid-template: repeat(5, auto) / repeat(2, 1fr);
    grid-template-areas:
      'intro intro'
      'bio bio'
      'bio-text-1 prop'
      'bio-text-2 prop'
      'cv .';

    &__prop {
      --x: calc(clamp(-6.175rem, calc(-10vw + 6rem), -1rem) + 0.3rem);
      --y: calc(clamp(-6.175rem, calc(-10vw + 6rem), -1rem) + 7rem);

      scale: 1.35;
      translate: var(--x) var(--y);
    }
  }

  //===// About //===//

  .about {
    grid-template: repeat(1, auto) / repeat(3, 1fr);
    grid-template-areas: 'card-1 card-2 card-3';

    &__card:nth-child(1) {
      margin-inline-end: 0;

      & header {
        display: block;
      }
    }
  }
}
