//================================================================//
//===// Incorporating required desktop layout scss variables //===//
//================================================================//

@use '../abstracts' as *;

//=======================================//
//===// Responsive layout - desktop //===//
//=======================================//

@include desktop {
  .about {
    display: flex;
    gap: 5rem;
    margin-block: 2rem 4rem;

    &__photo {
      margin-block: auto;
    }

    &__title {
      margin-block: 1.25rem 0.5rem;
    }
  }

  //===// Projects //===//

  .projects-group {
    margin-top: 5rem;

    &__show--active {
      margin-bottom: 5rem;
    }
  }

  .project {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & + & {
      margin-top: 5rem;
    }

    &:nth-child(odd) {
      .project__screen-2 {
        left: -1.5rem;
        bottom: -1.5rem;
      }

      .project__title {
        text-align: right;
      }

      .project-content > *:last-child {
        justify-content: end;
      }
    }

    &:nth-child(even) {
      flex-direction: row-reverse;

      .project__screen-2 {
        left: unset;
        right: -1.5rem;
        bottom: -1.5rem;
      }
    }

    &-content {
      margin-top: 0;
      display: grid;
      align-items: center;
    }

    &__desc {
      margin-block: 1.5rem;
    }
  }
}
