//===// Abstracts //===//

@use '../abstracts' as *;

//=========================//
//===// Mobile layout //===//
//=========================//

@include mobile {
  //===// Header //===//

  .header {
    --spacer: 1.5rem;
  }

  //===// Menu //===//

  .nav {
    all: unset;

    &-open,
    &-close {
      display: none;
    }

    &__list {
      all: unset;
      list-style: none;
      display: flex;
      gap: 1.25rem;

      &-link {
        font-size: clamp(1.15rem, 2.6vw, 1.45rem);
      }
    }
  }

  //===// Hero //===//

  .hero {
    margin-block-start: 1rem;
  }

  //===// About //===//

  .about {
    grid-template: repeat(2, auto) / repeat(2, 1fr);
    grid-template-areas:
      'card-1 card-1'
      'card-2 card-3';

    &__card:nth-child(1) header {
      display: flex;
      gap: 1rem;
    }
  }

  //===// Projects //===//

  .projects {
    padding-block-end: 6.5rem;

    &__intro {
      &__text {
        max-width: 50ch;
      }

      &__prop {
        right: -4rem;
        height: 12.5rem;
      }
    }

    &__btn {
      margin-block: 5rem 6.5rem;
    }
  }

  //===// Project //===//

  .project {
    grid-template: repeat(5, auto) / repeat(2, 1fr);
    grid-template-areas: none;
    gap: 0 clamp(1rem, 4vw, 4rem);
    margin-block-start: 7rem;

    &__badge {
      grid-row: 1;
    }

    &__name {
      grid-row: 2;
      margin-block: 0.75rem 1rem;
    }

    &__desc {
      grid-row: 3;
      margin-block: 0 0.75rem;
    }

    &__stack {
      grid-row: 4;
    }

    &__links {
      grid-row: 5;
      margin-block: 1.5rem 2rem;
    }

    &__preview {
      grid-row: 1 / -1;
    }

    &:nth-child(odd) {
      :is(.project__badge, .project__name, .project__desc, .project__stack, .project__links) {
        grid-column: 1;
      }

      .project__preview {
        grid-column: 2;
      }
    }

    &:nth-child(even) {
      :is(.project__badge, .project__name, .project__desc, .project__stack, .project__links) {
        margin-inline-start: 3rem;
        grid-column: 2;
      }

      margin-inline: var(--border-size) 0;

      .project__preview {
        grid-column: 1;

        --flip: -1;
      }
    }
  }

  //===// Contact //===//

  .contact {
    padding-block: 5rem;

    &__form__btns__submit {
      flex: initial;
    }
  }
}
