//===============================================================//
//===// Incorporating required mobile layout scss variables //===//
//===============================================================//

@use '../abstracts' as *;

//======================================//
//===// Responsive layout - mobile //===//
//======================================//

@include mobile {
  //===// Navbar //===//

  .nav {
    &-toggle {
      display: none;
    }

    &__list {
      position: static;
      display: flex;
      opacity: 1;
      visibility: visible;
      background-color: transparent;
      border-left: none;
      transform: translateX(0);

      &-item--first,
      &-item--last {
        margin: unset;
      }

      &-link {
        background-color: color(dark-clr);
        box-shadow: 5px 5px 0 color(accent-clr);
        color: color(light-clr);
        font-size: 1.2rem;
        transition: box-shadow 250ms ease-in-out;

        &:hover,
        &:focus {
          box-shadow: 7.5px 7.5px 0 color(accent-clr);
        }
      }

      &-theme-toggle {
        position: static;
        line-height: 28.8px;
      }
    }
  }

  //===// Section //===//

  .section {
    margin-inline: auto;
  }

  .section:last-child {
    margin-bottom: 3rem;
  }

  //===// About //===//

  .about {
    &__title {
      font-size: 1.65rem;
    }

    &__bio {
      font-size: 1.3rem;
    }

    &__bio-text {
      font-size: 1.075rem;
    }

    &__cv-download {
      flex-direction: row;
      font-size: 1.15rem;
    }
  }

  //===// Projects //===//

  .projects {
    &-group {
      &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &__show--active {
        margin-bottom: 3.5rem;
      }

      &__title {
        font-size: 1.5rem;
      }

      &__desc {
        font-size: 1.075rem;
      }

      &__show {
        font-size: 1.25rem;
      }
    }
  }

  .project {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;

    &-group {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      gap: 3rem;
    }

    &__screen {
      &-2 {
        left: -2.5rem;
        bottom: 2rem;
      }
    }

    &__title {
      font-size: 1.5rem;
    }

    &__desc {
      font-size: 1.075rem;
    }

    &__links {
      font-size: 1.25rem;
    }
  }

  //===// Contact //===//

  .contact {
    &__email {
      flex-direction: row;

      & > a {
        margin-bottom: 0;
        margin-right: 0.5rem;
      }
    }

    &__cv-download {
      flex-direction: row;
    }
  }
}
