@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap);
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul,
ol {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-delay: -1ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    transition-delay: 0s !important;
    scroll-behavior: auto !important;
    background-attachment: initial !important;
  }
}
body {
  --bg: hsl(39 83% 95%);
  --type: hsl(238 34% 20%);
  --accent-100: hsl(0 33% 99%);
  --accent-300: hsl(176 40% 71%);
  --accent-500: hsl(19 100% 85%);
  --accent-700: hsl(41 98% 64%);
  --accent-900: hsl(0 0% 20%);
  --accent-300-l: hsl(176 40% 86%);
  --accent-300-d: hsl(176 40% 54%);
  --accent-700-l: hsl(41 98% 79%);
  --accent-700-d: hsl(41 98% 49%);
  --success: hsl(106, 42%, 57.5%);
  --danger: hsl(0, 68%, 57.5%);
}

body.dark {
  --bg: hsl(185 13% 40%);
  --type: hsl(238 33% 16%);
  --accent-100: hsl(52 50% 91%);
  --accent-300: hsl(151 24% 60%);
  --accent-500: hsl(13 68% 63%);
  --accent-700: hsl(37 79% 75%);
  --accent-900: hsl(210 16% 20%);
  --accent-300-l: hsl(151 24% 75%);
  --accent-300-d: hsl(151 24% 45%);
  --accent-700-l: hsl(37 79% 90%);
  --accent-700-d: hsl(37 79% 60%);
  --success: hsl(106, 42%, 45%);
  --danger: hsl(0, 58%, 45%);
}

body {
  --fs-50: 0.9rem;
  --fs-100: 1rem;
  --fs-300: 1.3rem;
  --fs-400: 1.4rem;
  --fs-500: 1.5rem;
  --fs-800: 1.8rem;
  --fs-900: 2rem;
}

@media screen and (width >= 48em) {
  body {
    --fs-50: 1.05rem;
    --fs-100: 1.15rem;
    --fs-300: 1.45rem;
    --fs-400: 1.55rem;
    --fs-500: 1.65rem;
    --fs-800: 1.95rem;
    --fs-900: 2.15rem;
  }
}
@media screen and (width >= 64em) {
  body {
    --fs-50: 1.1rem;
    --fs-100: 1.2rem;
    --fs-300: 1.5rem;
    --fs-400: 1.6rem;
    --fs-500: 1.7rem;
    --fs-800: 2rem;
    --fs-900: 2.2rem;
  }
}
.btn {
  display: inline-block;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border: 1px solid currentColor;
  border-radius: 1.5em;
  outline: none;
  color: var(--type);
  padding: 0.5em 0.85em;
  font-size: var(--fs-50);
}
.btn--squared {
  background-color: var(--accent-900);
  border: none;
  border-radius: 1em;
  color: var(--accent-100);
  padding: 0.8em 1.2em;
}
.btn--cta {
  background-color: var(--accent-700);
  border: 1px solid var(--accent-900);
  box-shadow: 7px 7px 0 var(--accent-900);
  border-radius: 1em;
  color: var(--accent-900);
  text-decoration: none;
  font-weight: 600;
  padding: 0.8em 1.2em;
  transition: box-shadow 250ms ease-in-out;
}
.btn--cta:is(:hover, :focus) {
  box-shadow: 5px 5px 0 var(--accent-900);
}
.btn--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.hamburger {
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}
.hamburger__box {
  display: inline-block;
  position: relative;
  width: 2.125rem;
  height: 1.5rem;
}
.hamburger__inner {
  top: 50%;
  position: absolute;
  left: 0;
  height: 5px;
  width: 100%;
  background-color: var(--accent-900);
  border-radius: 1rem;
}
.hamburger__inner::before, .hamburger__inner::after {
  content: "";
  position: absolute;
  left: 0;
  height: 5px;
  width: 100%;
  background-color: var(--accent-900);
  border-radius: 1rem;
}
.hamburger__inner::before {
  top: -0.75rem;
}
.hamburger__inner::after {
  top: 0.75rem;
}
.hamburger--active .hamburger__inner {
  background-color: transparent;
}
.hamburger--active .hamburger__inner:before {
  translate: 0 0.75rem;
  rotate: 45deg;
}
.hamburger--active .hamburger__inner:after {
  translate: 0 -0.75rem;
  rotate: -45deg;
}

.color-mode {
  position: relative;
}
.color-mode__btn {
  position: relative;
  z-index: 1;
}
.color-mode__options {
  top: 4rem;
  right: 0;
  position: absolute;
  background-color: var(--accent-900);
  padding: 0.6em 0.8em;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  opacity: 0;
  visibility: hidden;
  translate: 0 -0.5rem;
  border-radius: 1em;
  color: var(--accent-100);
  transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out, translate 250ms ease-in-out;
}
.color-mode__options.visible {
  opacity: 1;
  visibility: visible;
  translate: 0;
}
.color-mode__options__btn {
  border: none;
  color: var(--accent-100);
  background-color: transparent;
  cursor: pointer;
  transition: color 250ms ease-in-out, scale 250ms ease-in-out;
  padding: 0.2em 0.4em;
  font-size: var(--fs-50);
}
.color-mode__options__btn:is(:hover, :focus) {
  scale: 1.1;
}
.color-mode__options__btn.active {
  color: var(--accent-700);
}
.color-mode__options__btn.system {
  color: var(--accent-300);
}

@media screen and (width >= 48em) {
  .color-mode__options {
    height: 100%;
    top: 0;
    right: 4.35rem;
    flex-direction: row-reverse;
    translate: 0.5rem 0;
  }
}
.scroll-top {
  position: fixed;
  right: 0.5rem;
  bottom: 4rem;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  translate: 10vw;
  transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out, translate 250ms ease-in-out;
}
.scroll-top.visible {
  opacity: 1;
  visibility: visible;
  translate: 0;
}

@media screen and (width >= 48em) {
  .scroll-top {
    bottom: 5rem;
  }
}
.card {
  padding: 1.25em 1.25em 2.125em;
  border-radius: 1em;
}

.collapsible {
  height: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: hidden;
  transition: height 250ms ease-in-out, opacity 250ms ease-in-out, visibility 250ms ease-in-out;
}
.collapsible--active {
  opacity: 1;
  visibility: visible;
  overflow-y: visible;
}

.copied {
  position: relative;
}
.copied::before {
  content: "Copied! 📋";
  position: absolute;
  right: -6.25rem;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  user-select: none;
  transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;
}
.copied--true.copied::before {
  opacity: 1;
  visibility: visible;
}

.prop {
  --prop-monitor: var(--accent-500);
  --desk: var(--accent-900);
  --outline: var(--accent-100);
  --prop-200: var(--accent-300-l);
  --prop-400: var(--accent-700-l);
  --prop-500: var(--accent-700);
  --prop-600: var(--accent-700-d);
  --prop-800: var(--accent-300);
  --prop-900: var(--accent-300-d);
}
.prop__desk {
  fill: var(--desk, hsl(211deg, 13%, 31%));
}
.prop__shadow {
  fill: var(--shadow, hsl(0deg, 0%, 52%));
}
.prop__outline {
  fill: var(--outline, hsl(206deg, 5%, 75%));
}
.prop__monitor {
  fill: var(--prop-monitor, hsl(198deg, 75%, 52%));
}
.prop__monitor-back-window {
  fill: var(--prop-monitor-back-window, hsl(200deg, 2%, 69%));
}
.prop__monitor-stand {
  fill: var(--prop-monitor-stand, hsl(240deg, 1%, 68%));
}
.prop__laptop {
  fill: var(--prop-laptop, hsl(210deg, 1%, 47%));
}
.prop__accent-100 {
  fill: var(--prop-100, hsl(0deg, 0%, 100%));
}
.prop__accent-200 {
  fill: var(--prop-200, hsl(203deg, 21%, 79%));
}
.prop__accent-400 {
  fill: var(--prop-400, hsl(29deg, 84%, 64%));
}
.prop__accent-500 {
  fill: var(--prop-500, hsl(27deg, 83%, 58%));
}
.prop__accent-600 {
  fill: var(--prop-600, hsl(16deg, 100%, 61%));
}
.prop__accent-800 {
  fill: var(--prop-800, hsl(237deg, 52%, 71%));
}
.prop__accent-900 {
  fill: var(--prop-900, hsl(239deg, 44%, 58%));
}

.container {
  width: 90%;
  max-width: 1200px;
  margin-inline: auto;
  transition: width 250ms ease-in-out;
}

@media screen and (width >= 48em) {
  .container {
    width: 85%;
  }
}
@media screen and (width >= 64em) {
  .container {
    width: 80%;
  }
}
:root {
  --border-size: 0.625rem;
}

body {
  background-color: var(--bg);
  color: var(--type);
  font-family: Poppins, sans-serif;
}

.header {
  --spacer: 1rem;
  --nav-size: 85vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: var(--spacer);
}

.nav {
  position: fixed;
  inset: 0;
  left: calc(100vw - var(--nav-size));
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  background-color: var(--accent-500);
  border-inline-start: var(--border-size) solid var(--accent-300);
  translate: var(--nav-size);
  transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out, translate 250ms ease-in-out;
}
.nav--visible {
  opacity: 1;
  visibility: visible;
  translate: 0;
}
.nav-outside {
  position: fixed;
  inset: 0;
  right: calc(100vw - var(--nav-size));
  z-index: 1;
}
.nav-open, .nav-close {
  outline: 2px solid transparent;
  outline-offset: 6px;
}
.nav-open:is(:hover, :focus), .nav-close:is(:hover, :focus) {
  outline: 2px solid var(--accent-900);
}
.nav-close {
  position: absolute;
  top: calc(var(--spacer) + 0.5625rem);
  left: 1rem;
}
.nav-color-mode, .nav-scroll-top {
  outline: 2px solid transparent;
  outline-offset: -2px;
}
.nav-color-mode:is(:hover, :focus), .nav-scroll-top:is(:hover, :focus) {
  outline: 2px solid var(--accent-900);
  outline-offset: 2px;
}
.nav__list {
  display: grid;
  place-items: center;
  gap: 1rem;
  height: 100%;
  list-style: none;
  padding-block: 8rem;
}
.nav__list-link {
  position: relative;
  cursor: pointer;
  color: var(--type);
  font-size: var(--fs-800);
  font-weight: 600;
}
.nav__list-link::before {
  content: "";
  position: absolute;
  bottom: -0.3em;
  left: 0;
  height: 0.25em;
  width: 100%;
  background-color: var(--accent-300);
  border-radius: 1em;
  transform-origin: left;
  scale: 0 1;
  transition: scale 250ms ease-in-out;
}
.nav__list-link:is(:hover, :focus)::before {
  scale: 1;
}

.hero {
  display: grid;
  grid-template-areas: "intro" "bio" "bio-text-1" "prop" "bio-text-2" "cv";
  gap: 1rem;
  padding-block-end: 7.5rem;
}
.hero__intro {
  grid-area: intro;
  font-size: var(--fs-900);
  font-weight: 700;
}
.hero__bio {
  grid-area: bio;
  font-weight: 600;
}
.hero__bio-text {
  max-width: 75ch;
}
.hero__bio-text:nth-child(1) {
  grid-area: bio-text-1;
}
.hero__bio-text:nth-child(2) {
  grid-area: bio-text-2;
}
.hero__cv {
  grid-area: cv;
  display: grid;
  grid-template: repeat(2, auto)/repeat(2, 1fr);
  gap: 0.5rem 1rem;
  max-width: fit-content;
}
.hero__cv__text {
  grid-column: 1/-1;
  font-size: var(--fs-300);
  font-weight: 600;
}
.hero__cv__btn {
  text-align: center;
}
.hero__prop {
  grid-area: prop;
}

.about {
  display: grid;
  grid-template: repeat(3, auto)/1fr;
  grid-template-areas: "card-1" "card-2" "card-3";
  gap: 2rem;
  padding-block-end: 7rem;
}
.about__card:nth-child(1) {
  grid-area: card-1;
  background-color: var(--accent-300);
  box-shadow: var(--border-size) var(--border-size) 0 var(--accent-900);
  border: 1px solid var(--accent-900);
}
.about__card:nth-child(2) {
  grid-area: card-2;
  background-color: var(--accent-500);
}
.about__card:nth-child(3) {
  grid-area: card-3;
  background-color: var(--accent-700);
}
.about__card__icon {
  display: inline-block;
  aspect-ratio: 1/1;
  background-color: var(--accent-100);
  border: 1px solid var(--accent-900);
  border-radius: 50%;
  padding: 0.8em;
}
.about__card__icon i {
  display: block;
  font-size: var(--fs-800);
  translate: 0 5px;
}
.about__card__title {
  font-size: var(--fs-800);
  font-weight: 600;
  margin-block: 0.5em 0.6rem;
}
.about__card__list a {
  color: var(--type);
  text-decoration: underline;
}
.about__card__text + .about__card__text {
  margin-block-start: 0.5rem;
}
.about__card__stack {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(48px, 1fr));
  gap: 0.5rem;
  margin-block-start: 1rem;
}

.projects {
  padding-block-end: 3rem;
}
.projects__intro {
  display: inline-block;
  position: relative;
}
.projects__intro__title {
  font-size: var(--fs-800);
  font-weight: 700;
  margin-block-end: 1rem;
}
.projects__intro__text {
  max-width: 40ch;
}
.projects__intro__prop {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  height: 10rem;
  fill: var(--accent-300);
  translate: -15% 15%;
  rotate: -25deg;
}
.projects__btn {
  margin-block-start: 4rem;
  margin-inline: auto;
}

.project {
  display: grid;
  grid-template-areas: "badge" "name" "preview" "desc" "stack" "links";
  margin-block-start: 4rem;
}
.project:nth-child(3n+1) {
  --accent: var(--accent-300);
}
.project:nth-child(3n+2) {
  --accent: var(--accent-500);
}
.project:nth-child(3n+3) {
  --accent: var(--accent-700);
}
.project__badge {
  grid-area: badge;
  justify-self: start;
  align-self: center;
  background-color: var(--accent);
  border-radius: 1em;
  font-size: var(--fs-50);
  font-weight: 600;
  padding: 0.2em 1.5em;
}
.project__name {
  grid-area: name;
  font-size: var(--fs-500);
  font-weight: 600;
  margin-block: 0.5rem 0.75rem;
}
.project__desc {
  grid-area: desc;
  font-size: var(--fs-50);
  margin-block: 1.75rem 0.75rem;
}
.project__stack {
  grid-area: stack;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.project__links {
  grid-area: links;
  display: flex;
  gap: 0.5rem;
  margin-block-start: 1.5rem;
}
.project__links__btn {
  justify-self: start;
  align-self: center;
  padding: 0.2em 1.5em;
  transition: background-color 250ms ease-in-out;
}
.project__links__btn:is(:hover, :focus) {
  background-color: var(--accent);
}
.project__preview {
  grid-area: preview;
}
.project__preview__img {
  border: 1px solid var(--type);
  border-radius: 0.5em;
  object-fit: cover;
  height: 100%;
}
.project__preview__drop {
  display: block;
  position: relative;
  z-index: -1;
  height: 100%;
  width: 100%;
  pointer-events: none;
  background-color: var(--accent);
  border: 1px solid var(--type);
  border-radius: 0.5em;
  translate: calc(var(--border-size) * var(--flip, 1)) calc(-100% + var(--border-size));
}

#contact {
  background-color: var(--accent-300);
}

.contact {
  padding-block: 3rem;
}
.contact__title {
  font-size: var(--fs-800);
  font-weight: 700;
}
.contact__text:nth-of-type(1) {
  margin-block: 1rem;
}
.contact__text:nth-of-type(2) {
  margin-block: 1rem 0.125rem;
}
.contact__text:nth-of-type(3) {
  margin-block: 2rem 0.5rem;
}
.contact__links {
  display: flex;
  gap: 0.5rem;
}
.contact__links__btn {
  background-color: var(--type);
  color: var(--accent-300);
}
.contact__links__btn:last-child {
  background-color: var(--accent-100);
}
.contact__email {
  cursor: pointer;
  text-decoration: underline;
  font-weight: 600;
}
.contact__form {
  background-color: var(--accent-500);
  border: 1px solid var(--type);
  border-radius: 0.5em;
  padding: 1.5rem 2rem 3rem;
}
.contact__form__input, .contact__form__message {
  width: 100%;
  background-color: transparent;
  border: none;
  border-block-end: 1px solid var(--type);
  outline: none;
  color: var(--type);
  padding: 0.5em;
}
.contact__form__input.error, .contact__form__message.error {
  border-block-end-color: var(--danger);
}
.contact__form__input::placeholder, .contact__form__message::placeholder {
  color: var(--accent-900);
}
.contact__form__input {
  margin-block-end: 1rem;
}
.contact__form__message {
  height: 8rem;
  resize: none;
}
.contact__form__btn {
  width: 100%;
  background-color: var(--accent-700);
  margin-block-start: 2.1rem;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}
.contact__form__btn.sending {
  background-color: var(--accent-300);
}
.contact__form__btn.success {
  background-color: var(--success);
}
.contact__form__btn.error {
  background-color: var(--danger);
  color: var(--accent-100);
}

#footer {
  background-color: var(--accent-900);
}

.footer {
  color: var(--accent-100);
  text-align: center;
  font-size: var(--fs-50);
  padding: 1rem 0.5rem;
}

@media screen and (width >= 48em) {
  .header {
    --spacer: 1.5rem;
  }
  .nav {
    all: unset;
  }
  .nav-open, .nav-close {
    display: none;
  }
  .nav__list {
    all: unset;
    list-style: none;
    display: flex;
    gap: 1.25rem;
  }
  .nav__list-link {
    font-size: clamp(1.15rem, 2.6vw, 1.45rem);
  }
  .hero {
    margin-block-start: 1rem;
  }
  .about {
    grid-template: repeat(2, auto)/repeat(2, 1fr);
    grid-template-areas: "card-1 card-1" "card-2 card-3";
  }
  .about__card:nth-child(1) header {
    display: flex;
    gap: 1rem;
  }
  .projects {
    padding-block-end: 6rem;
  }
  .projects__intro__text {
    max-width: 50ch;
  }
  .projects__intro__prop {
    right: -4rem;
    height: 12.5rem;
  }
  .projects__btn {
    margin-block-start: 5rem;
  }
  .project {
    grid-template: repeat(5, auto)/repeat(2, 1fr);
    grid-template-areas: none;
    gap: 0 clamp(1rem, 4vw, 4rem);
    margin-block-start: 7rem;
  }
  .project__badge {
    grid-row: 1;
  }
  .project__name {
    grid-row: 2;
    margin-block: 0.75rem 1rem;
  }
  .project__desc {
    grid-row: 3;
    margin-block: 0 0.75rem;
  }
  .project__stack {
    grid-row: 4;
  }
  .project__links {
    grid-row: 5;
    margin-block: 1.5rem 2rem;
  }
  .project__preview {
    grid-row: 1/-1;
  }
  .project:nth-child(odd) :is(.project__badge, .project__name, .project__desc, .project__stack, .project__links) {
    grid-column: 1;
  }
  .project:nth-child(odd) .project__preview {
    grid-column: 2;
  }
  .project:nth-child(even) :is(.project__badge, .project__name, .project__desc, .project__stack, .project__links) {
    margin-inline-start: 3rem;
    grid-column: 2;
  }
  .project:nth-child(even) .project__preview {
    grid-column: 1;
    --flip: -1;
  }
  .contact {
    padding-block: 5rem;
  }
}
@media screen and (width >= 64em) {
  #hero {
    overflow: hidden;
  }
  .hero {
    display: grid;
    grid-template: repeat(5, auto)/repeat(2, 1fr);
    grid-template-areas: "intro intro" "bio bio" "bio-text-1 prop" "bio-text-2 prop" "cv .";
  }
  .hero__prop {
    --x: calc(clamp(-6.175rem, calc(-10vw + 6rem), -1rem) + 0.3rem);
    --y: calc(clamp(-6.175rem, calc(-10vw + 6rem), -1rem) + 7rem);
    scale: 1.35;
    translate: var(--x) var(--y);
  }
  .about {
    grid-template: repeat(1, auto)/repeat(3, 1fr);
    grid-template-areas: "card-1 card-2 card-3";
  }
  .about__card:nth-child(1) header {
    display: block;
  }
}
